.transition-page {
    text-align: center;
}

.transition-page-title {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    color: $color-text-color-on-dark-bg;
}

.transition-page-countdown {
    font-size: 1500%;
}

.transition-page-countdown-message {
    font-size: 300%;
}
